@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body{
    font-family:'Space Grotesk',sans-serif;
    background:#020617;
}
@keyframes loading {

  from {
    width: 0%;
  }

  to {
    width: 100%;
  }

}